# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# image processing
opencv-python
nibabel #for loading raw MRI images

# data science
numpy
pandas
scikit-learn
jupyterlab
seaborn
plotly
# tensorflow-macos # for M1 Mac Only
# tensorflow # for Windows Only

# tests/linter
black
coverage
flake8
pytest
yapf
pylint
ipdb

# API
gcsfs
google-cloud-storage
mlflow
s3fs
uvicorn
fastapi

# utilities
six>=1.14
joblib
memoized-property
termcolor
python-dotenv
